*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{user-select: none;

    font-family:Arial, Helvetica, sans-serif;
    background:#f4f6f8;
    color:#222;
}
/* NAVBAR */
.navbar{

    height:80px;
    background:#0b2340;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 60px;
}
.logo{

    font-size:22px;
    font-weight:bold;

}

.navbar nav a{

    color:white;
    text-decoration:none;

    margin-left:25px;

}


/* HERO */


.hero{

    min-height:600px;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:50px;

    padding:60px;

    background:white;

}


.hero-text{

    width:500px;

}


.hero h1{

    font-size:45px;
    margin-bottom:20px;

}


.hero h2{

    margin-bottom:20px;

}


.hero p{

    line-height:1.6;

}


/* FORMULARIOS */


form{

    display:flex;

    flex-direction:column;

    gap:15px;

}


input,
textarea,
select{

    padding:12px;

    border-radius:5px;

    border:1px solid #ccc;

}


textarea{

    height:120px;

}


button{

    background:#0b2340;

    color:white;

    padding:12px;

    border:none;

    cursor:pointer;

    border-radius:5px;

}



/* SERVICIOS */


.services,
.contact,
.about{

    padding:70px;

    text-align:center;

}


.services-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

    margin-top:40px;

}


.card{

    background:white;

    padding:30px;

    border-radius:10px;

}


/* FOOTER */


.footer{

    background:#0b2340;

    color:white;

    padding:40px;

    text-align:center;

}



/* RESPONSIVE */


@media(max-width:900px){


.hero{

    flex-direction:column;

}


.services-grid{

    grid-template-columns:1fr;

}


.navbar{

    padding:0 20px;

}

}